{% extends "base.html" %}

{% block body_block %}

<div class="jumbotron">
    <h2 style="color:antiquewhite">Welcome to the car care portal</h2>
    <h3 style="color:antiquewhite">We are sorry that happend to you!!!</h3>
    <h3 style="color:antiquewhite">Let us help you get back on the road</h3>
</div>

<div class="bottom">
    <h4 style="color:antiquewhite">how does this work: </h4>
    <h5 style="color:antiquewhite">Click on the car demage toolkit</h5>
    <h5 style="color:antiquewhite">upload an image</h5>
    <h5 style="color:antiquewhite"> click on process</h5>
</div>

<div class="bottomright">
    <h5> Copyright: </h5>

</div>

{% endblock %}